{% extends 'base/sidebar.html' %}

{% block NavName %}Lista de noticias {% endblock %} 
{% block NavBtn %} <a name="" id="" class="btn btn-outline-secondary btn-sm" href="{% url 'crear-noticia' %}" role="button">Agregar noticia</a>{% endblock %}
{% block tablas %}

<script>
    function eliminarNoticia(id) { 
        Swal.fire({
            "title" : "¿Estas seguro?",
            "text" : "Esta acción no se puede deshacer",
            "icon" : "question",
            "showCancelButton" : true,
            "cancelButtonText" : "No, cancelar",
            "confirmButtonText" : "Si, elimnar",
            "reverseButtons" : true,
            "confirmButtonColor" : "#dc3545"
        })
        .then(function(result) {
            if(result.isConfirmed) {
                window.location.href = "/dashboard/eliminarNoticia/"+id
            }
        })
    }
</script>


<div class="table-responsive-xs">
    <table class="table table-light">
        <thead class="table-secondary">
            <tr>
                <th scope="col">Título</th>
                <th scope="col">Publicado</th>
                <th scope="col">Estado</th>
                <th scope="col">Autor</th>
                <th scope="col">Categoría</th>
                <th scope="col"  class="text-center">Editar</th>
                <th scope="col"  class="text-center">Eliminar</th>
            </tr>
        </thead>
        <tbody>
            {% for noticia in entity %}
            <tr>
                <td>{{noticia.titulo}}</td>
                <td>{{noticia.fechaPublicacion}}</td>
                <td>{{noticia.status}}</td>
                <td>{{noticia.autor}}</td>
                <td>{{noticia.categoria}}</td>
                <td  class="text-center"><a name="" id="" class="btn btn-info btn-sm" href="{% url 'editarNoticia' noticia.id %}" role="button"><i class="bi bi-check"></i></a></td>
                <td  class="text-center">    <a onclick="eliminarNoticia({{ noticia.id }})"name="" id="" class="btn btn-danger btn-sm" href="#" role="button"><i class="bi bi-x"></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div>
        {% include 'base/secciones/paginator.html' %}
    </div>
</div>

{% endblock %}