{% extends 'base/base.html'%}


{% block contenido %}

<div id="carouselId" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
      <li data-bs-target="#carouselId" data-bs-slide-to="0" class="active" aria-current="true" aria-label="First slide"></li>
      <li data-bs-target="#carouselId" data-bs-slide-to="1" aria-label="Second slide"></li>
      <li data-bs-target="#carouselId" data-bs-slide-to="2" aria-label="Third slide"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <img src="static/img/calesita1.png" class="w-20 d-block" alt="First slide">


        <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(0, 6, 0, .6);">
          <div class="container">
              <div class="row justify-content-start">
                  <div class="">
                      <h5 class="text-light animated slideInDown">Te invitamos a ser parte de</h5>
                      <h1 class="display-3 text-white animated slideInDown"> Nuestra Navidad en Manos Abiertas</h1>
                      <p class="fs-5 text-white mb-4 pb-2">✨ Cuidando lo esencial ✨ Abrazando soledades ✨ Compartiendo lo simple</p>
                  </div>
                  <div class="row justify-content-md-center">
                  <div class="col-md-auto">
                    <a name="" id="" class="btn btn-dark" href="https://www.manosabiertas.org.ar/navidad-2022/" role="button"  >Ver más</a>
                  </div>
                  </div>
              </div>
          </div>
        </div>



      </div>
      
      <div class="carousel-item">
        <img src="static/img/calesita2.png" class="w-60 d-block" alt="Second slide">
        <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(0, 6, 0, .4);">
          <div class="container">
              <div class="row justify-content-start">
                  <div class="">
                      <h5 class="text-light text-uppercase mb-3 animated slideInDown">#30añosEnArgentina </h5>
                      <h1 class="display-3 text-white animated slideInDown">¡Juntos seguimos haciendo grandes cosas!</h1>
                      
                      <div class="row justify-content-md-center">
                        <div class="col-md-auto">
                          <a name="" id="" class="btn btn-dark" href="https://www.manosabiertas.org.ar" role="button"  >Ver más</a>
                        </div>
                        </div>
                  </div>
              </div>
          </div>
        </div>

      </div>
      
      <div class="carousel-item">
        <img src="static/img/calesita4.png"  class="w-60 d-block" alt="Third slide">
          <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(0, 6, 0, .4);">
            <div class="container">
                <div class="row justify-content-start">
                    <div class="">
                        <h5 class="text-light text-uppercase mb-3 animated slideInDown">Con tu aporte mensual podemos seguir brindando contención a los más vulnerables</h5>
                        <h1 class="display-3 text-white animated slideInDown">Manos Abiertas desde hace 30 años acompaña a los más necesitados</h1>
                        <p class="fs-5 text-white mb-4 pb-2">Con tu aporte mensual podemos seguir brindando contención a los más vulnerables a través de nuestras obras y programas en las 11 delegaciones de Argentina.</p>
                        <div class="row justify-content-md-center">
                          <div class="col-md-auto">
                            <a name="" id="" class="btn btn-danger" href="https://donaronline.org/manos-abiertas/donar" role="button"  >Doná ahora</a>
                          </div>
                          </div>
                    </div>
                </div>
            </div>
          </div>
      </div>   
      
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">siguiente</span>
      </button>
  </div>




<div class="container-md">
 
{% for object in object_list %}

<div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">{{object.categoria}}</strong>
          <h3 class="mb-0">{{object.titulo}}</h3>
          <div class="mb-1 text-muted">{{object.fechaPublicacion}}</div>
          <p class="card-text mb-auto">{{object.subtitulo}}</p>
          <a href="{% url 'post_detail' object.slug  %}" class="stretched-link">Ver más</a>
        </div>
        <div class="col-auto d-none d-lg-block">
            
            
            
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-lg-6 col-md-6 bg-warning">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis amet dolore provident praesentium vel, nam hic adipisci maxime maiores ab quidem ipsam sit facere mollitia pariatur accusantium quos voluptas voluptate?
    </div>
    <div class="col-12 col-lg-6 col-md-6 bg-primary px-0">
        <img src="{{MEDIA_URL}}/media/{{object.imagen}}" alt="header" class="img-fluid">
    </div>
</div> 



  
{% endfor %}

</div>
{% endblock %}


