{% extends 'base/base.html' %}
{% load static %}
{% block contenido %}

<style>
    .gradient-custom {
        /* fallback for old browsers */
        background: #f6d365;
        
        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));
        
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1))
        }
</style>

<section class="vh-100" style="background: linear-gradient(283deg, rgba(255,237,170,1) 0%, rgba(255,224,208,1) 48%, rgba(255,232,144,1) 100%);">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-6 mb-4 mb-lg-0">
            <br/> <br/>
          <div class="card mb-3" style="border-radius: .5rem;">
            <div class="row g-0">
              
                <div class="card rounded-3 text-black">
                    <div class="row g-0"> 
                        <br/>
                            <div class="card-body mx-md-4">
                
                                <form method="post" enctype="multipart/form-data">
                                    <h4>Editar información personal</h4>
                                    {% csrf_token %}
                                        
                                    {{form.as_p}}
                                    <a class="btn btn-outline-danger btn-xs" href="{% url 'perfil' %}" type="button">Cancelar</a>&nbsp&nbsp
                                    <input class="btn btn-outline-success btn-xs" type="submit" value="Guardar">
                                </form>
                            </div>
                    </div>
                </div>



            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
