{% extends 'base/base.html '%}
{% load static %}



{% block contenido %}

<div class="container-xxl py-5">
    <div class="container">
        <br/><br/><br/>
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute w-100 h-100" src="{% static 'img\course-2.jpg' %}" alt="" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="section-title bg-white text-start text-primary pe-3">FUNDACION ALA´</h6>
                <h1 class="mb-4">{{titulo}}</h1>
                <p class="mb-4">{{cuerpo}}.</p>
                <p class="mb-6">{{subcuerpo}}</p>
                <br/>
                <p class="mb-6"></p>
                <div class="row gy-2 gx-4 mb-4">
                    
                </div>
                <a class="btn btn-primary py-3 px-5 mt-2" href="{% url 'inicio' %}">Volver al inicio</a>
            </div>
        </div>
    </div>
</div>

<body/>
{% endblock %}