{% load static %}
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeIn" data-wow-delay="0.3">
            <img src="{% static 'img/ALA/loguin.png'%}" height="100">  <br/>
            <br/><h3 class="text-success">Fundación ALA´</h3>
            <h5 class="section-title bg-white text-center text-primary px-3"> <em> Significa semilla en idioma Qom</em></h5>
            <p class="p-3  fs-4"><span class="text-dark">Buscamos acompañarte en tu camino de formacion apuntando al crecimiento personal y profesional.</p></h4>
        </div>
        <!--recuadros-->
        <div class="row g-4">
            <div class="media position-relative col-lg-6 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-graduation-cap text-info mb-4"></i>
                        <h5 class="mb-3">Centro Educativo</h5>
                        <a href="{% url 'nosotros' %}" class="stretched-link text-dark"><p>Acompañando a la comunidad en su etapa formación profesional.</p></a>
                        
                    </div>
                </div>
            </div>
            <div class="media position-relative col-lg-6 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-crop text-success mb-4"></i>
                        <h5 class="mb-3">Consultorias</h5>
                        <a href="{% url 'nosotros' %}" class="stretched-link text-dark"><p>Brindamos acompañamiento a tus proyectos</p></a>
                       
                    </div>
                </div>
            </div>
            
        </div><br/>
        <div class="row g-4">
         <div class="media position-relative col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.5s" >
                <div class="service-item text-center pt-3" >
                    <div class="p-4">
                        <i class="fa fa-3x fa-hammer text-muted mb-4"></i>
                        <h5 class="mb-3">Carpinteria</h5>
                        <a href="{% url 'nosotros' %}" class="stretched-link text-dark"><p>Formacion y practica en capinteria del Hogar</p></a>
                    </div>
                </div>
            </div>
            <div class="media position-relative col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-sun text-warning mb-4"></i>
                        <h5 class="mb-3">Jardineria</h5>
                        <a href="{% url 'nosotros' %}" class="stretched-link text-dark"><p>Construcción de huerta y/o vivero</p></a>
                    </div>
                </div>
            </div>
            <div class="media position-relative col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-heart text-danger mb-4"></i>
                        <h5 class="mb-3">Conservas</h5>
                        <a href="{% url 'nosotros' %}" class="stretched-link text-dark"><p>Producción de mermeladas caseras</p></a>
                        
                    </div>
                </div>
            </div> 
        </div>



    </div>
</div>
<!-- Service End -->