<!doctype html>
<html lang="es-ar">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{{STATIC_URL}}/static/css/main.css">

    

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{{STATIC_URL}}/static/lib/animate/animate.min.css" rel="stylesheet">
    <link href="{{STATIC_URL}}/static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    {% comment %} <link href="{{STATIC_URL}}/static/css/bootstrap.min.css" rel="stylesheet"> {% endcomment %}

    <!-- Template Stylesheet -->
    <link href="{{STATIC_URL}}/static/css/style.css" rel="stylesheet">


 

    <script>
      $(document).ready(function(){
        $('.carousel').carousel({
          interval: 2000
        });
      });
    </script>

    <title>Manos abiertas</title>

  </head>
  <body>
    <!--========================================================== -->
                            <!-- ENCABEZADO -->
    <!--========================================================== -->

    {% include 'base/header.html' %}

    <!--========================================================== -->
                            <!-- CUERPO DE PÁGINA-->
    <!--========================================================== -->

    
    
    {% block contenido %}

    {% endblock %}
    <!--========================================================== -->
                            <!--FOOTER-->
    <!--========================================================== -->

      {% include 'base/footer.html' %}
      
        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script> 
        <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
        <script src="{{STATIC_URL}}/static/js/main.js"></script>
  </body>
</html>