{% extends "base/base.html" %} 
{% load static %}



{% block contenido %}

<!--========================================================== -->
                        <!-- SLIDER DE IMAGENES-->
<!--========================================================== -->
<br/><br/>

<div id="carouselId" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <ol class="carousel-indicators">
      <li data-bs-target="#carouselId" data-bs-slide-to="0" class="active" aria-current="true" aria-label="First slide"></li>
      <li data-bs-target="#carouselId" data-bs-slide-to="1" aria-label="Second slide"></li>
      <li data-bs-target="#carouselId" data-bs-slide-to="2" aria-label="Third slide"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active" data-bs-interval="3000">
        <img src="static/img/ALA/viveros1.png" class="w-20 d-block" alt="First slide">


        <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(0, 6, 0, .6);">
          <div class="container">
              <div class="row justify-content-start">
                  <div class="">
                      <h5 class="text-light animated slideInDown">Te invitamos a ser parte... </h5>
                      <h1 class="display-4 text-white animated slideInDown"> Ven a sembrar semillas de amor.</h1>
                      <p class="fs-5 text-white mb-4 pb-2">✨ Cuidando lo esencial ✨ Abrazando la caridad ✨ Compartiendo lo simple</p>
                  </div>
                  <div class="row justify-content-md-start">
                  <div class="col-md-auto">
                    <a name="" id="" class="btn btn-success" href="https://www.manosabiertas.org.ar/navidad-2022/" role="button"  >Ver más</a>
                  </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
      
      <div class="carousel-item" data-bs-interval="3000">
        <img src="static/img/ALA/cjuntos.png" class="w-60 d-block" alt="Second slide">
        <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(0, 6, 0, .6);">
          <div class="container">
              <div class="row justify-content-start">
                  <div class="">
                      <h5 class="text-light text-uppercase mb-3 animated slideInDown">#Sumate </h5>
                      <h1 class="display-3 text-white animated slideInDown">¡Crezcamos juntos!</h1>
                      <p class="fs-5 text-white mb-4 pb-2">Contactate y formá parte de ALA'</p>
                      <div class="row justify-content-md-start">
                        <div class="col-md-auto">
                          <a name="" id="" class="btn btn-success" href="https://www.manosabiertas.org.ar" role="button"  >Ver más</a>
                        </div>
                        </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
      
      <div class="carousel-item" data-bs-interval="3000">
        <img src="static/img/ALA/herramienta1.png"  class="w-60 d-block" alt="Third slide">
          <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(0, 6, 0, .6);">
            <div class="container">
                <div class="row justify-content-start">
                    <div class="">
                        <h5 class="text-light text-uppercase mb-3 animated slideInDown">No te quedes afuera</h5>
                        <h1 class="display-3 text-white animated slideInDown">¡Aprende con nosotros, y aposta a un futuro mejor!</h1>
                        <p class="fs-5 text-white mb-4 pb-2">Haz de tu oficio, un estilo de vida.</p>
                        <div class="row justify-content-md-start">
                          <div class="col-md-auto">
                            <a name="" id="" class="btn btn-success" href="https://donaronline.org/manos-abiertas/donar" role="button"  >Ver más</a>
                          </div>
                          </div>
                    </div>
                </div>
            </div>
          </div>
      </div>   
      
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
      {% comment %} <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span> {% endcomment %}
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
      {% comment %} <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">siguiente</span> {% endcomment %}
      </button>
  </div>
  
<!--========================================================== -->
                  <!-- INTRODUCCION DE SERVICIOS-->
<!--========================================================== -->
  

<!------------- SERVICIOS  -------->
      <br/>
      {% comment %} <section class="d-flex flex-column justify-content-center align-items-center pt-5  text-center w-50 m-auto" >
        
        <div class="container">
            <div class="row g-7">
                <div class="col-lg-5 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 500px;">
                    <div class="position-relative h-60">
                        <img class="img-fluid  h-60" src="static/img/ALA/asd.png" alt="">
                    </div>
                </div>
                <div class="col-lg wow fadeInUp" data-wow-delay="0.3s">
                    <h2 class="section-title bg-white text-start text-success pe-3">  En Fundación ALA´         </h2>
                    <h4 class="mb-4">Buscamos acompañarte en tu camino de formacion apuntando al</h4>
                    <h2 class="mb-4"></span><span class="text-primary"> crecimiento personal y profesional.<span/></p>
                    <a class="btn btn-primary py-3 px-5 mt-2" href="">Read More</a>
                </div>
            </div>
        </div>
      </section> {% endcomment %}

<!------------- Actividades  -------->

{% include 'base/secciones/seccion-actividades.html' %}

<!------------- Noticias  -------->

   <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="text-center">
            <h6 class="section-title bg-white text-center text-primary px-3">Nuestras noticias</h6>
            <h1 class="mb-5">Te invitamos a conocer las más recientes</h1>
        </div>
        <div class="owl-carousel testimonial-carousel position-relative">
            {% for object in object_list %}    
            <div class="testimonial-item text-center rounded">
                <img class="border shadow  p-2 mx-auto mb-3 objetfitcover" src="{{MEDIA_URL}}/media/{{object.imagen}}"
                            style="
                                width: 300px;
                                height: 300px;
                                object-fit: cover;
                            ">
                <h5 class="mb-0 rounded">{{object.titulo}}</h5>
                <p><a class="badge bg-secondary text-decoration-none link-light" href="#!">{{object.categoria}}</a></p>
                <div class="testimonial-text bg-outline-light text-center p-4 rounded">
                <p class="mb-0 ">{{object.subtitulo}}</p>
                </div>
                <p><a href="{% url 'post_detail' object.slug  %}" class="stretched-link"></a></p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


<!------------- Autoridades  -------->

{% include 'base/secciones/seccion-autoridades.html' %}

  
<!------------- Contactos  -------->

{% include 'base/secciones/seccion-contacto.html' %}



{% endblock %}

