{% extends "base/base.html" %} 
{% load static %}



{% block contenido %}

<!--========================================================== -->
                        <!-- SLIDER DE IMAGENES-->
<!--========================================================== -->
<br/><br/>

<div id="carouselId" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
      <li data-bs-target="#carouselId" data-bs-slide-to="0" class="active" aria-current="true" aria-label="First slide"></li>
      <li data-bs-target="#carouselId" data-bs-slide-to="1" aria-label="Second slide"></li>
      <li data-bs-target="#carouselId" data-bs-slide-to="2" aria-label="Third slide"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <img src="static/img/ALA/viveros1.png" class="w-20 d-block" alt="First slide">


        <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(0, 6, 0, .6);">
          <div class="container">
              <div class="row justify-content-start">
                  <div class="">
                      <h5 class="text-light animated slideInDown">Te invitamos a ser parte... </h5>
                      <h1 class="display-4 text-white animated slideInDown"> Ven a sembrar semillas de amor.</h1>
                      <p class="fs-5 text-white mb-4 pb-2">✨ Cuidando lo esencial ✨ Abrazando la caridad ✨ Compartiendo lo simple</p>
                  </div>
                  <div class="row justify-content-md-center">
                  <div class="col-md-auto">
                    <a name="" id="" class="btn btn-dark" href="https://www.manosabiertas.org.ar/navidad-2022/" role="button"  >Ver más</a>
                  </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
      
      <div class="carousel-item">
        <img src="static/img/ALA/cjuntos.png" class="w-60 d-block" alt="Second slide">
        <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(0, 6, 0, .4);">
          <div class="container">
              <div class="row justify-content-start">
                  <div class="">
                      <h5 class="text-light text-uppercase mb-3 animated slideInDown">#Sumate </h5>
                      <h1 class="display-3 text-white animated slideInDown">¡Crezcamos juntos!</h1>
                      
                      <div class="row justify-content-md-center">
                        <div class="col-md-auto">
                          <a name="" id="" class="btn btn-dark" href="https://www.manosabiertas.org.ar" role="button"  >Ver más</a>
                        </div>
                        </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
      
      <div class="carousel-item">
        <img src="static/img/ALA/herramienta1.png"  class="w-60 d-block" alt="Third slide">
          <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(0, 6, 0, .4);">
            <div class="container">
                <div class="row justify-content-start">
                    <div class="">
                        <h5 class="text-light text-uppercase mb-3 animated slideInDown">No te quedes afuera</h5>
                        <h1 class="display-3 text-white animated slideInDown">¡Aprende con nosotros, y aposta a un futuro mejor!</h1>
                        <p class="fs-5 text-white mb-4 pb-2">Haz de tu oficio, un estilo de vida.</p>
                        <div class="row justify-content-md-center">
                          <div class="col-md-auto">
                            <a name="" id="" class="btn btn-danger" href="https://donaronline.org/manos-abiertas/donar" role="button"  >Ver más</a>
                          </div>
                          </div>
                    </div>
                </div>
            </div>
          </div>
      </div>   
      
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">siguiente</span>
      </button>
  </div>
  
<!--========================================================== -->
                  <!-- INTRODUCCION DE SERVICIOS-->
<!--========================================================== -->
  

<!------------- SERVICIOS  -------->
      <br/>
      {% comment %} <section class="d-flex flex-column justify-content-center align-items-center pt-5  text-center w-50 m-auto" >
        
        <div class="container">
            <div class="row g-7">
                <div class="col-lg-5 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 500px;">
                    <div class="position-relative h-60">
                        <img class="img-fluid  h-60" src="static/img/ALA/asd.png" alt="">
                    </div>
                </div>
                <div class="col-lg wow fadeInUp" data-wow-delay="0.3s">
                    <h2 class="section-title bg-white text-start text-success pe-3">  En Fundación ALA´         </h2>
                    <h4 class="mb-4">Buscamos acompañarte en tu camino de formacion apuntando al</h4>
                    <h2 class="mb-4"></span><span class="text-primary"> crecimiento personal y profesional.<span/></p>
                    <a class="btn btn-primary py-3 px-5 mt-2" href="">Read More</a>
                </div>
            </div>
        </div>
      </section> {% endcomment %}

<!------------- SERVICIOS  -------->

    
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeIn" data-wow-delay="0.3">
                <img src="{% static 'img/ALA/loguin.png'%}" height="100">  <br/>
                <br/><h3 class="text-success">Fundación ALA´</h3>
                <h5 class="section-title bg-white text-center text-primary px-3"> <em> Significa semilla en idioma Qom</em></h5>
                <p class="p-3  fs-4"><span class="text-dark">Buscamos acompañarte en tu camino de formacion apuntando al crecimiento personal y profesional.</p></h4>
            </div>
            <!--recuadros-->
            <div class="row g-4">
                <div class="media position-relative col-lg-6 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-graduation-cap text-info mb-4"></i>
                            <h5 class="mb-3">Centro Educativo San Ignacio</h5>
                            <a href="{% url 'nosotros' %}" class="stretched-link text-dark"><p>Acompañamiento al alumno en su etapa de escolaridad y formación.</p></a>
                            
                        </div>
                    </div>
                </div>
                <div class="media position-relative col-lg-6 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-crop text-danger mb-4"></i>
                            <h5 class="mb-3">Peques</h5>
                            <a href="{% url 'nosotros' %}" class="stretched-link text-dark"><p>Acompañamiento a niños vulnerados en sus derechos</p></a>
                           
                        </div>
                    </div>
                </div>
                
            </div><br/>
            <div class="row g-4">
             <div class="media position-relative col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.5s" >
                    <div class="service-item text-center pt-3" >
                        <div class="p-4">
                            <i class="fa fa-3x fa-home text-warning mb-4"></i>
                            <h5 class="mb-3">Buscadores</h5>
                            <a href="{% url 'nosotros' %}" class="stretched-link text-dark"><p>Acompañamiento a personas en situación de calle</p></a>
                        </div>
                    </div>
                </div>
                <div class="media position-relative col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-book-open text-success mb-4"></i>
                            <h5 class="mb-3">Madre Teresa</h5>
                            <a href="{% url 'nosotros' %}" class="stretched-link text-dark"><p>Acompañamiento a personas que sufren soledad</p></a>
                        </div>
                    </div>
                </div>
                <div class="media position-relative col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-book-open text-dark mb-4"></i>
                            <h5 class="mb-3">Madre de la Ternura</h5>
                            <a href="{% url 'nosotros' %}" class="stretched-link text-dark"><p>Acompaña social y afectivamente a mujeres embarazadas</p></a>
                            
                        </div>
                    </div>
                </div> 
            </div>



        </div>
    </div>
    <!-- Service End -->

<!-- Noticias start -->
   <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="text-center">
            <h6 class="section-title bg-white text-center text-primary px-3">Nuestras noticias</h6>
            <h1 class="mb-5">Te invitamos a conocer las más recientes</h1>
        </div>
        <div class="owl-carousel testimonial-carousel position-relative">
           
            {% for object in object_list %}    
            <div class="testimonial-item text-center rounded">
                <img class="border rounded-circle p-2 mx-auto mb-3" src="{{MEDIA_URL}}/media/{{object.imagen}}" style="width: 150px; height: 150px;">
                <h5 class="mb-0 rounded">{{object.titulo}}</h5>
                <p>{{object.categoria}}</p>
                <div class="testimonial-text bg-outline-light text-center p-4 rounded">
                <p class="mb-0 rounded ">{{object.subtitulo}}</p>
                </div>
                <p><a href="{% url 'post_detail' object.slug  %}" class="stretched-link"></a></p>
            </div>
            {% endfor %}
            
        </div>
    </div>
</div>
<!-- Noticas End -->

<!------------------------------------------------------------------>
  <!--- Autoridades -->
<!------------------------------------------------------------------>

  <!-- Team Start -->
  <div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Nuestras Autoridades</h6>
            <h1 class="mb-5">Equipo pequeño con resultados grandes</h1>
        </div>
        <div class="row g-4 justify-content-center align-items-center">
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="{{STATIC_URL}}/static/img/team-2.jpg" alt="">
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-0">Sambrana</h5>
                        <h5 class="mb-0">Felicia Del Carmen</h5>
                        <small>PRESIDENTE</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="{{STATIC_URL}}/static/img/team-3.jpg" alt="">
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-0">Arevalo</h5>
                        <h5 class="mb-0">Antolin Edy</h5>
                        <small>TESORERO</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="{{STATIC_URL}}/static/img/team-1.jpg" alt="">
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-0">Barrios</h5>
                        <h5 class="mb-0">Miguel Amadeo</h5>
                        <small>SECRETARIO</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->

  
  
<!--========================================================== -->
                    <!-- SECCION CONTACTOS-->
<!--========================================================== -->
  
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" >
            <h5 class="section-title bg-white text-center text-primary px-3">Contáctanos</h5> 
            <h5 class="mb-5">Ante cualquier duda, no dudes en comunicarte.</h5><br/>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <h5>También podés acercarte a nosotros</h5>
                <p class="mb-4">Nos encontramos en el barrio fulano de tal, específicamente en la calle tanto al 1055. Nuestros horarios de atención: Lunes a viernes de 08 a 12 y de 16 a 21.</p>
                <div class="d-flex align-items-center mb-3">
                    <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-dark" style="width: 50px; height: 50px;">
                        <i class="fa fa-map-marker-alt text-light"></i>
                    </div>
                    <div class="ms-3">
                        <h5 class="text-dark">Office</h5>
                        <p class="mb-0">123 Street, New York, USA</p>
                    </div>
                </div>
                <div class="d-flex align-items-center mb-3">
                    <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-success" style="width: 50px; height: 50px;">
                        <i class="fa fa-phone-alt text-white"></i>
                    </div>
                    <div class="ms-3">
                        <h5 class="text-success">Mobile</h5>
                        <p class="mb-0">+012 345 67890</p>
                    </div>
                </div>
                <div class="d-flex align-items-center">
                    <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-danger" style="width: 50px; height: 50px;">
                        <i class="fa fa-envelope-open text-white"></i>
                    </div>
                    <div class="ms-3">
                        <h5 class="text-danger">Email</h5>
                        <p class="mb-0">info@example.com</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <iframe class="position-relative rounded w-100 h-100"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d56644.45948592787!2d-59.03036479130049!3d-27.46058095955579!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94450c62a6f5f70b%3A0xf03ac86511c2cd6d!2sResistencia%2C%20Chaco!5e0!3m2!1ses!2sar!4v1671067722224!5m2!1ses!2sar" 
                    frameborder="0" style="min-height: 300px; border:0;" allowfullscreen="" aria-hidden="false"
                    tabindex="0"></iframe>
            </div>
            <div class="col-lg-4 col-md-12 wow fadeInUp" data-wow-delay="0.5s">
                <form>
                    <div class="row g-3">
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="name" placeholder="Your Name">
                                <label for="name">Nombre y Apellido</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="email" class="form-control" id="email" placeholder="Your Email">
                                <label for="email">Email</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="subject" placeholder="Subject">
                                <label for="subject">Asunto</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <textarea class="form-control" placeholder="Leave a message here" id="message" style="height: 150px"></textarea>
                                <label for="message">Mensaje</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-success w-100 py-3" type="submit">Enviar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
  

{% endblock %}

