{% extends 'base/sidebar.html' %}

{% block NavName %}Lista de categorias {% endblock %} 
{% block NavBtn %} <a name="" id="" class="btn btn-outline-secondary btn-sm" href="{% url 'crear-categoria' %}" role="button">Agregar categoria</a>{% endblock %}
{% block tablas %}

<script>
    function eliminarCategoria(id) { 
        Swal.fire({
            "title" : "¿Estas seguro?",
            "text" : "Esta acción no se puede deshacer",
            "icon" : "question",
            "showCancelButton" : true,
            "cancelButtonText" : "No, cancelar",
            "confirmButtonText" : "Si, elimnar",
            "reverseButtons" : true,
            "confirmButtonColor" : "#dc3545"
        })
        .then(function(result) {
            if(result.isConfirmed) {
                window.location.href = "/dashboard/eliminarCategoria/"+id
            }
        })
    }
</script>


<div class="table-responsive-xs">
    <table class="table table-light">
        <thead class="table-secondary">
            <tr>
                <th scope="col">Nombre de categoria</th>
                <th scope="col"  class="text-center">Editar</th>
                <th scope="col"  class="text-center">Eliminar</th>
            </tr>
        </thead>
        <tbody>
            
            {% for categoria in entity %}
            <tr>
                <td>{{categoria.nombre}}</td>
                <td  class="text-center"><a name="" id="" class="btn btn-info btn-sm" href="{% url 'editarCategoria' categoria.id %}" role="button"><i class="bi bi-check"></i></a></td>
                <td  class="text-center">    <a href="#" onclick="eliminarCategoria({{ categoria.id }})" name="" id="" class="btn btn-danger btn-sm"  role="button"><i class="bi bi-x"></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div>
        {% include 'base/secciones/paginator.html' %}
    </div>
</div>

{% endblock %}