{% extends 'base/sidebar.html' %}

{% block NavName %}Lista de comentarios {% endblock %} 
{% block NavBtn %} <a name="" id="" class="btn btn-outline-secondary btn-sm" href="{% url 'dashboard' %}" role="button">Volver</a>{% endblock %}
{% block tablas %}

<script>
    function eliminarComentarioDash(id, newsid) { 
        Swal.fire({
            "title" : "¿Estas seguro?",
            "text" : "Esta acción no se puede deshacer",
            "icon" : "question",
            "showCancelButton" : true,
            "cancelButtonText" : "No, cancelar",
            "confirmButtonText" : "Si, elimnar",
            "reverseButtons" : true,
            "confirmButtonColor" : "#dc3545"
        })
        .then(function(result) {
            if(result.isConfirmed) {
                window.location.href = "/dashboard/eliminarComentarioDash/"+id+"/"+newsid
            }
        })
    }
</script>


<nav class="nav bg-success justify-content-center  ">
  <div class="dropdown open">
         <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="triggerId" data-bs-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Filtrar por {% if actual.titulo %} {{actual.titulo}} {% else %} Noticias {% endif %}
                </button>
        <div class="dropdown-menu" aria-labelledby="triggerId">
            
            {% for news in noticias %}
            <a class="dropdown-item" href="{% url 'filtrarComentarios' news.id %}">{{news.titulo}}</a>
            {% comment %} <button class="dropdown-item" href="{% url 'listarComentarios' news.id %}">{{news.titulo}}</button> {% endcomment %}
            {% endfor %}
        </div>
    </div>
</nav>
<div class="table-responsive-xs">
    
    <table class="table table-light">
        <thead class="table-secondary">
            <tr>
                <th scope="col">Fecha</th>
                <th scope="col">Contenido</th>
                <th scope="col">Autor</th>
                <th scope="col"  class="text-center">Eliminar</th>
            </tr>
        </thead>
        <tbody>
            {% for comment in entity %}
            <tr>
                <td>{{comment.fecha}}</td>
                <td>{{comment.contenido}}</td>
                <td>{{comment.autor}}</td>
                <td  class="text-center"><a onclick="eliminarComentarioDash({{ comment.id }}, {{actual.id}})"name="" id="" class="btn btn-danger btn-sm" href="#" role="button"><i class="bi bi-x"></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div>
        {% include 'base/secciones/paginator.html' %}
    </div>
</div>

{% endblock %}