{% extends 'base/sidebar.html' %}

{% block NavName %}Lista de comentarios {% endblock %} 
{% block NavBtn %} <a name="" id="" class="btn btn-outline-secondary btn-sm" href="{% url 'dashboard' %}" role="button">Volver</a>{% endblock %}
{% block tablas %}

<div class="table-responsive-xs">
    <div class="dropdown open">
        Filtrar por <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="triggerId" data-bs-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                    {% if actual.titulo %} {{actual.titulo}} {% else %} Noticias {% endif %}
                </button>
        <div class="dropdown-menu" aria-labelledby="triggerId">
            
            {% for news in noticias %}
            <a class="dropdown-item" href="{% url 'filtrarComentarios' news.id %}">{{news.titulo}}</a>
            {% comment %} <button class="dropdown-item" href="{% url 'listarComentarios' news.id %}">{{news.titulo}}</button> {% endcomment %}
            {% endfor %}
        </div>
    </div>
    <table class="table table-light">
        <thead class="table-secondary">
            <tr>
                <th scope="col">Fecha</th>
                <th scope="col">Contenido</th>
                <th scope="col">Autor</th>
                <th scope="col"  class="text-center">Eliminar</th>
            </tr>
        </thead>
        <tbody>
            {% for comment in comentarios %}
            <tr>
                <td>{{comment.fecha}}</td>
                <td>{{comment.contenido}}</td>
                <td>{{comment.autor}}</td>
                <td  class="text-center"><a name="" id="" class="btn btn-danger btn-sm" href="{% url 'eliminarComentarioDash' id=comment.id newsid=actual.id%}" role="button"><i class="bi bi-x"></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}