{% extends 'miscelaneo/base.html '%}
{% load static %}

{% block tituloMiscelaneo %} Donaciones {% endblock %} 
{% block retituloMiscelaneo %} Donaciones {% endblock %} 

{% block miscelaneoContenido %}

<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeIn" data-wow-delay="0.3">
            <img src="{% static 'img/ALA/loguin.png'%}" height="100">  <br/>
            <br/><h3 class="text-success">Fundación ALA´</h3>
            <h5 class="section-title bg-white text-center text-primary px-3"> <em> Significa semilla en idioma Qom</em></h5>
            <p class="p-3  fs-4"><span class="text-dark">Fundación ALA’, tiene como objetivo sembrar en los jóvenes la oportunidad de lograr conocimientos en oficios que le sirvan para su desarrollo intelectual y laboral, y así afrontar de una mejor manera su inserción en el tan difícil actual mercado laboral. 
                Somos una Fundación sin fines de lucro que no busca recaudar capital para repartir ganancias, sino que buscamos con nuestro esfuerzo, arriba al objetivo de ayudar y colaborar con acciones sociales. Pretendemos ser una opción para los jóvenes, donde puedan recurrir en busca de conocimientos sobre carpintería; producción de distintas conservas caseras (frutillas, mamón, higos, etc); construcción de una huerta y/o vivero.
                Si te interesa ser parte de este proyecto y ayudar a que Fundación ALA’ logre tan loable objetivo, podes hacer tu donación en ésta página, tu aporte será muy importe y de enorme para el sostenimiento de la Fundación.
            </p></h4>
        </div>
    </div>
</div>
<div class="container align-items-center justify-content-top text-center">
</div>

<div class="container-xxl py-1">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-4">
                    <img class="img-fluid position-top w-80 h-80" src="static/img/ALA/don.png" alt="" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <br/>
                <br/>
                <h6 class="section-title bg-white text-start text-primary pe-3"></h6>
                <h1 class="mb-4">DONACIONES</h1>
                <p class="p-3  fs-4"><span class="text-dark">Si de tu corazon sale, nos ayudas enormemente, con tu colaboracion. </p>
                <p class="p-3  fs-4"><span class="text-dark">HAce tu donacio. </p>
                <p class="p-3  fs-4"><span class="text-dark">CBU: 100012456327 </p>
                <br/>
                <div class="row gy-2 gx-4 mb-4">
                    
                </div>
            </div>
        </div>
    </div>
</div>

<br/>
<br/>
<br/>
<br/>
<br/>




{% endblock %}