{% extends 'miscelaneo/base.html '%}
{% load static %}

{% block tituloMiscelaneo %} Identidad {% endblock %} 
{% block retituloMiscelaneo %} Identidad {% endblock %} 

{% block miscelaneoContenido %}


<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeIn" data-wow-delay="0.3">
            <img src="{% static 'img/ALA/loguin.png'%}" height="100">  <br/>
            <br/><h3 class="text-success">Fundación ALA´</h3>
            <h5 class="section-title bg-white text-center text-primary px-3"> <em> Significa semilla en idioma Qom</em></h5>
            <p class="p-3  fs-4"><span class="text-dark">Fundación ALA’ nace el 1 de marzo del año 2022 en la ciudad de Resistencia Provincia de Chaco. ALA’ significa Semilla en el idioma QOM, y eso es precisamente lo que los fundadores pretendemos hacer con nuestra tarea, sembrar en los jóvenes la oportunidad de obtener conocimientos en oficios que le sirvan para su desarrollo intelectual y laboral, que les permita poder afrontar de una mejor manera su inserción en el tan difícil actual mercado laboral. 
                Esta fundación brinda a todos aquellos interesados capacitaciones, charlas, consultorías y asesoramientos para aprender un oficio. Podrán acceder a oficios tales como carpintería; producción de distintas tiopos de conservas; construcción de una huerta y/o vivero.
                Las capacitaciones son tanto formales como informales, siendo el objetivo para inicios del 2023 que la Fundación ALA’, luego de obtener los permisos legales, se pueda vincular a la UEGP que tiene tecnicaturas reconocidas por el Ministerio de Educación de la Provincia.
            </p></h4>
            <img class="p-2 mx-auto objetfitcover align-items-center justify-content-center" src="{% static 'img/ALA/jardinero.png' %}"
        style="
            width: 800px;
            
            object-fit: cover;
        ">
        </div>
    </div>
</div>

<div class="container align-items-center justify-content-top text-center">
        
</div>



{% endblock %}


