{% extends 'miscelaneo/base.html '%}
{% load static %}

{% block tituloMiscelaneo %} Identidad {% endblock %} 
{% block retituloMiscelaneo %} Identidad {% endblock %} 

{% block miscelaneoContenido %}


<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeIn" data-wow-delay="0.3">
            <img src="{% static 'img/ALA/loguin.png'%}" height="100">  <br/>
            <br/><h3 class="text-success">Fundación ALA´</h3>
            <h5 class="section-title bg-white text-center text-primary px-3"> <em> Significa semilla en idioma Qom</em></h5>
            <p class="p-3  fs-4"><span class="text-dark">Fundación ALA’ nace el 1 de marzo del año 2022 en la ciudad de Resistencia Provincia de Chaco. ALA’ significa Semilla en el idioma QOM, y eso es precisamente lo que los fundadores pretendemos hacer con nuestra tarea, sembrar en los jóvenes la oportunidad de obtener conocimientos en oficios que le sirvan para su desarrollo intelectual y laboral, que les permita poder afrontar de una mejor manera su inserción en el tan difícil actual mercado laboral. 
                Esta fundación brinda a todos aquellos interesados capacitaciones, charlas, consultorías y asesoramientos para aprender un oficio. Podrán acceder a oficios tales como carpintería; producción de distintas tiopos de conservas; construcción de una huerta y/o vivero.
                Las capacitaciones son tanto formales como informales, siendo el objetivo para inicios del 2023 que la Fundación ALA’, luego de obtener los permisos legales, se pueda vincular a la UEGP que tiene tecnicaturas reconocidas por el Ministerio de Educación de la Provincia.
            </p></h4>
        </div>
        
    </div>
</div>

<!------------- Informacion  -------->
<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute w-100 h-100" src="static/img/ALA/mision.png" alt="" style="object-fit: cover;">
                </div>
            </div>
            <br/>
            <br/>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="section-title bg-white text-start text-primary pe-3"></h6>
                <h1 class="mb-4">MISIÓN</h1>
                <p class="p-3  fs-4"><span class="text-dark">Brindar, capacitación formación profesional, asesoramiento y perfeccionamiento, a jóvenes y adultos, que buscan iniciarse en el mundo laboral, brindando las herramientas necesarias para   promover el desarrollo de  las personas que pretenden ocupar nuevas posiciones laborales o emprender, de manera independiente, una actividad laboral y con posibilidad de crecimiento personal. </p>
                <br/>
                <div class="row gy-2 gx-4 mb-4">
                    
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="section-title bg-white text-start text-primary pe-3"></h6>
                <h1 class="mb-4">VISIÓN</h1>
                <br/>
                <p class="p-3  fs-4"><span class="text-dark">Expandir y consolidar el proyecto de formación profesional en  la región, brindando una educación integral, responsable,  comprometida socialmente y competente, que capacite para afrontar mundo profesional y laboral, contribuyendo a la construcción de sociedades más justas y de igualdad de oportunidades. </p>
                <br/>
                <div class="row gy-2 gx-4 mb-4">
                    
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute w-100 h-100" src="static/img/ALA/vision.png" alt="" style="object-fit: cover;">
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}


