{% extends "base/base.html" %} 


{% block contenido %}

<section>
    <div class="container w-50 m-auto text-center" id="equipo">
        <h1 class="mb-5 fs-2"> <span class="text-success"></span>.</h1>
        <h3 class="mb-5 fs-2"><span class="text-success"> Nuestra historia</span></h3>
        <p class="fs-4 ">Siempre buscamos las personas adecuadas para que trabajen con nosotros. Si te sientes listo para este reto, te esperamos para que te unas a nosotros.</p>
        <p class="fs-4 ">Nacimos en 1992 en la localidad de Villa de Mayo en Buenos Aires, por la iniciativa de un grupo de voluntarios amigos que, asesorados y guiados por el jesuita P. Ángel Rossi sj, comenzamos a distribuir alimentos y ropa entre la población más pobre y vulnerable de la zona.

            Desde entonces, hemos crecido en 11 ciudades:
            
            Buenos Aires, Córdoba, San Juan, Concordia, Chaco, Salta, Mar del Plata, Jujuy, Santa Fe, Neuquén y Mendoza, dando una respuesta afectiva y concreta a quienes se encuentran solos en espacios vulnerables.</p>
            
        <p class="fs-4 ">En julio de 2019, luego de algunos intercambios, reuniones y precisiones se concretó la suscripción de un documento con la Compañía de Jesús (ARU) por el cual se estableció que la Fundación Manos Abiertas es una “obra apostólica con especial vinculación con la Compañía de Jesús”.

            En dicho acuerdo de importante trascendencia para ambas instituciones que se firmara con el R.P. Provincial de los Jesuitas, P. Rafael Velasco SJ y por el Padre Ángel Rossi SJ, Manos Abiertas reconoció en San Ignacio de Loyola y en la Compañía de Jesús su fuente de inspiración e identidad.</p>
    </div>

    <div class="mt-5 text-center">
        <img id="img-equipo" src="static/img/equipo.jpg" alt="equipo">
    </div>


</section>

{% endblock %}