{% extends 'miscelaneo/base.html '%}
{% load static %}

{% block tituloMiscelaneo %} Misión & Visión {% endblock %} 
{% block retituloMiscelaneo %} Misión & Visión {% endblock %} 

{% block miscelaneoContenido %}

<!------------- Informacion  -------->
<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute w-100 h-100" src="static/img/ALA/mision.png" alt="" style="object-fit: cover;">
                </div>
            </div>
            <br/>
            <br/>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="section-title bg-white text-start text-primary pe-3"></h6>
                <h1 class="mb-4">MISIÓN</h1>
                <p class="p-3  fs-4"><span class="text-dark">Brindar, capacitación formación profesional, asesoramiento y perfeccionamiento, a jóvenes y adultos, que buscan iniciarse en el mundo laboral, brindando las herramientas necesarias para   promover el desarrollo de  las personas que pretenden ocupar nuevas posiciones laborales o emprender, de manera independiente, una actividad laboral y con posibilidad de crecimiento personal. </p>
                <br/>
                <div class="row gy-2 gx-4 mb-4">
                    
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="section-title bg-white text-start text-primary pe-3"></h6>
                <h1 class="mb-4">VISIÓN</h1>
                <br/>
                <p class="p-3  fs-4"><span class="text-dark">Expandir y consolidar el proyecto de formación profesional en  la región, brindando una educación integral, responsable,  comprometida socialmente y competente, que capacite para afrontar mundo profesional y laboral, contribuyendo a la construcción de sociedades más justas y de igualdad de oportunidades. </p>
                <br/>
                <div class="row gy-2 gx-4 mb-4">
                    
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute w-100 h-100" src="static/img/ALA/vision.png" alt="" style="object-fit: cover;">
                </div>
            </div>
        </div>
    </div>
</div>








{% endblock %}